<div class="accordion-god pb-3"  >
  <div class="accordion-item">
      <h2 class="accordion-header" id='{{"heading"+id}}'>

          <button  [ngStyle]="{'background-color': (evaluadores.length == 0) ? 'red' : '#ffffff'}" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" attr.data-bs-target='{{"#collapse"+id}}' aria-expanded="false" attr.aria-controls='{{"collapse"+id}}'>
              <b>{{nombre}}</b>
          </button>
      </h2>

      <div id='{{"collapse"+id}}' class="accordion-collapse collapse" attr.aria-labelledby='{{"heading"+id}}' data-bs-parent="#accordionTeams">
              <div class="accordion-body d-flex justify-content-center">


                  <table class="table" id="Teams">
                      <thead>
                          <tr class="table-primary">
                          <th scope="col">Evaluador</th>
                          <th scope="col">Tipo de Evaluacion</th>
                          <th scope="col" data-halign="center" data-align="center"></th>
                          </tr>
                      </thead>
                      <tbody class="border">
                          <tr *ngFor="let evaluador of evaluadores">
                          <td scope="row">{{evaluador.NombreEvaluador}}</td>
                          <td>{{evaluador.TipoRelacion}}</td>
                            <td>
                            <button type="button" (click)="delEval(nombre,evaluador.TipoRelacion,evaluador.NombreEvaluador)" class="btn btn-light"><i class="fa-solid fa-x"></i></button>    
                            </td>
                          </tr>
                          
                      </tbody>
                      </table>                    
              </div>
      </div>
      
  </div>
</div>