#MOMENT {
    width: 25%;
}

#IPS_PROBLEM {
    width: 25%;
}

#BTN-REPORT {
    height: 120%;
    border-radius: 16px;
}

#B-B {
    margin-top: 80px;
    margin-left: 0px;
}

#B-N {
    margin-top: 80px;
    margin-left: 0px;
}
