<div *ngIf="loading; else elseBlock">
    <div id="loading-div" class="d-flex justify-content-center align-items-center">
        <i class="fa-3x fa-solid fa-circle-notch fa-spin " style="--fa-animation-duration: 0.7s"></i>
    </div>
</div>

<ng-template #elseBlock>
    
    <div *ngIf="myEvals.length > 0; else elseBlock">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <h1>Bienvenido a tu evaluacion 360</h1>
                </div>
            </div>
            <div class="row">
                <p>Antes de empezar con la evaluacion confirma que conoces a las siguientes personas: </p>
            </div>

            <h1>Evaluaciones para: {{myEvals[0].EmpleadoANombre}}</h1>

            <div class="dflex justify-content-center">
                <table class="table" style="width: 60%;">
                    <thead>
                        <tr class="table-primary">
                        <th scope="col">Evaluador</th>
                        <th scope="col">Tipo de Evaluacion</th>
                        <th scope="col" data-halign="center" data-align="center">Lo conozco</th>
                        </tr>
                    </thead>
                    <tbody class="border">
                        <tr *ngFor="let evaluacion of myEvals; let i = index">
                        <td scope="row">{{evaluacion.EmpleadoBNombre}}</td>
                        <td>{{evaluacion.TipoEvaluacion}}</td>
                        <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" (change)="toggleEditable($event)" id="cb{{i}}" checked></div>
                        </td>
                        </tr>
                        
                    </tbody>
                    </table>
            </div>


            <div class="container text-center">
                <div class="row">

                    <div class="col">
                        <a class="btn btn-primary" href="" role="button" id="B-B">Reportar Cambio</a>
                    </div>

                    <div class="col">
                        <a class="btn btn-success" href="" role="button" [attr.disabled]="allChecked ? false : true" id="B-N">Continuar</a>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <ng-template #elseBlock>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <h1>Bienvenido a tu evaluacion 360</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img id="IPS_PROBLEM" src="../assets/IPS_PROBLEM.png" class="rounded mx-auto d-block">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>UPS ha habido un error contactate con RH</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-info" id="BTN-REPORT"> REPORTAR ERROR </button>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <a class="btn btn-primary" href="login" role="button" id="B-B">BACK</a>
                </div>
                <div class="col">
                    <a class="btn btn-primary" href="#" role="button" id="B-N">NEXT</a>
                </div>
            </div>
        </div>
    </ng-template>



</ng-template>


