.fa-check{
    color: limegreen;
}

.fa-flag{
    color: red;
}

.fa-x{
    color: black;
}

.fa-clock{
    color: black;
}

.ita{
    font-style: italic;
    color: gray;
}

.Check {
    margin-left: 15px;
}

.smalll {
    color: gray;
    font-style: italic;
}

.paddy {
    padding: 5px;
}

.Error {
    color: red;
}

#IPS_PROBLEM {
    padding: 10px;
    width: 25%;
}

#IPS_WorkingOnIt {
    width: 25%;
    padding: 20px;
}

.container {
    padding: 30px;
}

#B-N {
    margin: 50px;
}

.form-switch .form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.form-switch .form-check-input:checked {
    background-color: #2ab34c;
    border-color: #2ab34c;
    border: none;
}

#loading-div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
