<div>
    <div class="container-xl text-center center-screen">
        <div class="row">
            <div class="col">
                <h1>IPS CENTRAL</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>To get started, Sign in with your business email</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary" id="btnMicrosoft" (click)="login()">
                  <i class="fa-brands fa-microsoft pe-2"></i>Sign in with Microsoft
                </button>
            </div>
        </div>
    </div>
</div>