<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <img class="navbar-brand" id="logo" src="../assets/IPS_logo.png" alt="Inflection Point Systems Logo" />
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item nav-element">
                        <i class="fa-solid fa-circle-user fa-2xl" style="margin-left: 0.25em"></i>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
